{% extends 'base.html' %} 

{% block content %}

<div class="row-sm p-sm-3">
    <div>
        <p class="text-center">
            <h3 class="text-center" style="font-size: 2em;text-shadow: 1.5px 1px #AFE1AF">
                Plant Disease Detection Results
            </h3>
            <br>
        </p>
        <div class="serv-section">
            <div class="serv-content">
                {% if img_urls|length == 1 %} 
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="col-md-4">
                            <p>
                                <h4 class="text-center">
                                    Image 1
                                </h4>
                            </p>
                            <div class="d-flex justify-content-center">
                                <a href="{{ url_for('disease_details', disease_name=corrected_results[0].strip(), img_url=img_urls[0]) }}">
                                    <img src="{{ img_urls[0] }}" alt="Plant image" style="max-width: 100%; height: auto;">
                                </a>
                            </div>
                            <p class="text-center" style="font-size: 1.1em;">
                                <h3></h3>
                                {% if "healthy" in corrected_results[0] %}
                                    <span style="background-color: lime; padding: 5px; font-size: 18px;">
                                {% else %}
                                    <a href="{{ url_for('disease_details', disease_name=corrected_results[0].strip(), img_url=img_urls[0]) }}" style="text-decoration: none; color: white;">
                                        <span style="background-color: orangered; padding: 5px; font-size: 18px;">
                                {% endif %}
                                {{ corrected_results[0] }}</span>
                                {% if "healthy" not in corrected_results[0] %}
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% else %}
                
                    <div class="row {% if img_urls|length == 2 %} justify-content-center {% endif %}">
                        {% for i in range(img_urls|length) %}
                        <div class="col-md-4">
                            <p>
                                <h4 class="text-center">
                                    Image {{ i + 1 }}
                                </h4>
                            </p>
                            <div class="d-flex justify-content-center">
                                <a href="{{ url_for('disease_details', disease_name=corrected_results[i].strip(), img_url=img_urls[i]) }}">
                                    <img src="{{ img_urls[i] }}" alt="Plant image" style="max-width: 100%; height: auto;">
                                </a>
                            </div>
                            <p class="text-center" style="font-size: 1.1em;">
                                <h3></h3>
                                {% if "healthy" in corrected_results[i] %}
                                    <span style="background-color: lime; padding: 5px; font-size: 18px;">
                                {% else %}
                                    <a href="{{ url_for('disease_details', disease_name=corrected_results[i].strip(), img_url=img_urls[i]) }}" style="text-decoration: none; color: white;">
                                        <span style="background-color: orangered; padding: 5px; font-size: 18px;">
                                {% endif %}
                                {{ corrected_results[i] }}</span>

                                {% if "healthy" not in corrected_results[i] %}
                                    </a>
                                {% endif %}

                            </p>
                            <hr>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <br>
        <br>
        
        <div class="d-flex justify-content-center">
            <button style = "" type="button" class="btn btn-dark" id="download-btn">Download Results</button>
        </div>
        <br>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.6/xlsx.full.min.js"></script>
        
        <script>
            $(document).ready(function() {
                // create a function to generate the excel file
                function generateExcel() {
                    const rows = [
                        ['Image Number', 'File Name', 'Disease Detected'] // add "File Name" header
                        // add rows for each image and disease detected
                        {% for i in range(img_urls|length) %}
                        , [{{ i + 1 }}, "{{ img_urls[i].replace("/bucket/", "") }}", "{{ corrected_results[i] }}"] // add img_urls[i] value
                        {% endfor %}
                    ];
            
                    const sheetName = 'Plant Disease Detection Results';
                    const fileName = 'plant-disease-detection-results.xlsx';
            
                    const worksheet = XLSX.utils.aoa_to_sheet(rows);
                    const workbook = XLSX.utils.book_new();
                    XLSX.utils.book_append_sheet(workbook, worksheet, sheetName);
                    XLSX.writeFile(workbook, fileName);
                }
            
                // add event listener to download button
                const downloadBtn = document.getElementById('download-btn');
                downloadBtn.addEventListener('click', generateExcel);
            });
        </script>
    </div>
</div>

{% endblock %}
