{% extends 'base.html' %} 

{% block content %}

<div class="row-sm p-sm-3">
    <div>
        <p class="text-center">
            <h3 class="text-center" style="font-size: 2em;text-shadow: 1.5px 1px #AFE1AF">
                Plant Disease Detection
            </h3>
            <p class="text-center" style="font-size: 1.1em;">
                Identify plant diseases in seconds: simply upload an image of your plant!
            </p><br>
        </p>
        <div class="serv-section">
            <div class="serv-content">
                <p>
                    <h4 class="text-center">
                        Upload Image file
                    </h4>
                    <br>
                </p>
                <div class="d-flex justify-content-center">
                    <form method="post" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <input type="file" name="file" multiple class="form-control" id="inputGroupFile">
                            <label class="input-group-text" for="inputGroupFile">Choose file(s)</label>
                        </div>
                        <button type="submit" class="btn btn-dark" onclick="showLoading()">Upload</button>
                    </form>
                </div>
                
                <div id="loading" style="display: none; background-color: transparent; position: fixed; top: 0; left: 0; height: 100%; width: 100%;">
                    <img src="static/images/predicting_gif.gif" style="position: absolute; top: 58%; left: 50%; transform: translate(-50%, -50%);">
                </div>
                  
            </div>
        </div>
    </div>
</div>

<script>
    function showLoading() {
        document.getElementById("loading").style.display = "block";
    }
</script>

{% endblock content %}
